.light {
  color: darken($light-primary, 100%);
  color: darken($light-primary, 100%);
  background: lighten($dark-primary, 100%);

  .text-lighter {
    color: #606060;
  }

  .input-container {
    background-color: lighten($dark-secondary, 76%);
  }

  input {
    color: darken($light-secondary, 100%);
  }

  button {
    color: darken($light-primary, 100%);
    background-color: lighten($dark-primary, 100%);
  }

  .btn-primary {
    background-color: darken($dark-primary, 100%);
    color: lighten($light-primary, 100%);
  }

  a {
    color: black;
  }

  .dashboard-box {
    background-color: rgba(0, 0, 0, 0.03);
  }

  .fill {
    fill: #303030;
  }

  .stroke {
    stroke: #303030;
  }

  .form-container {
    box-shadow: $primary-shadow;
  }

  dialog {
    background-color: lighten($dark-primary, 100%);
  }

  .form-dialog {
    &-heading {
      color: $dark-primary;
      margin: 2.4rem;
    }
  }

  nav {
    background-color: lighten($dark-primary, 100%);
  }

  .nav-item {
    .active {
      background-color: $dark-secondary;
      color: $light-primary;
    }
  }

  @media screen and (max-width: 768px) {
    .page-side-open {
      box-shadow: $light-shadow;
    }
  }
}
