@import "./resets";
@import "./variables";
@import "./mixins";
@import "./animations";
@import "./home";
@import "./dashboard";
@import "./form";
@import "./light";

// Main
body {
  font-family: $primary-font, $tertiary-font;
  background-color: $dark-primary;
  color: $light-primary;
}

// Typography

h1 {
  font-size: 7.6rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.4;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
}

@media screen and (max-width: 1080px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}

// Colorful typography

.text-gradient {
  @include text-gradient();
}

.text-indian {
  @include text-gradient($indian-gradient);
}

.text-lighter {
  color: #909090;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: $color-danger;
  font-size: 1.6rem;
  font-weight: bold;
}

.text-warning {
  color: $color-warning;
  font-weight: bold;
}

.text-safe {
  color: $color-safe;
  font-weight: bold;
}

// Alerts

.alert {
  background-color: rgba(255, 0, 0, 0.148);
  width: max-content;
  padding: 0.4rem 0.8rem;
  font-size: 1.4rem;
  color: $color-danger;
  margin-bottom: 1.8rem;
  border-radius: 5px;
}

// Links

a {
  text-decoration: none;
  color: $light-primary;
}

.link-primary {
  color: $color-accent !important;
}

// Buttons

button,
.btn {
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  border-radius: 3px;
  border: none;
  background-color: $dark-primary;
  color: $light-primary !important;
  font-family: $primary-font;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.btn-container {
  display: inline-block;
  padding: 0.3rem;
  border-radius: 5px;
  background: $primary-gradient;

  button {
    color: $dark-primary !important;
  }
}

.btn-icon {
  padding: 0;
}

.btn-primary {
  background-color: $light-primary;
  color: $dark-primary;
}

.btn-accent {
  background-color: $color-accent;
  color: $light-primary;
}

.btn-danger {
  background-color: $color-danger;
  color: $light-primary;
}

.btn-flex {
  @include flex-center;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.btn-small {
  font-size: 0.8rem;
}

// Images

.logo {
  object-fit: cover;
}

// Form

.form-page {
  height: 100vh;
  @include flex-center();
  position: relative;
}

.form-container {
  @include flex-center(column);
  padding: 1rem 3.2rem;
  border-radius: 8px;
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 1);
}

.form-primary {
  @include flex-center(column);
  margin-bottom: 5rem;
  width: 320px;
}

.btn-submit {
  margin-top: 4rem;
}

.form {
  padding: 0 2.8rem;
  @include flex-center(column);
  box-shadow: $primary-shadow;
  border-radius: 12px;
}

.form-heading {
  margin: 5rem 0;
}

.form-description {
  font-size: 1.2rem;
  margin-bottom: 2.4rem;
  letter-spacing: 1px;
  text-align: center;

  a {
    font-size: 1.2rem;
  }
}

.invoice-product-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  h3 {
    margin: 0.6rem 0 1.6rem;
  }
}

.form-end {
  position: absolute;
  bottom: 5rem;
}

.product-total {
  @include flex-space;
  // width: 100%;
}

// Inputs

.input-container-wrapper {
  max-width: 320px;
  width: 100%;
}

.input-container {
  @include flex-center();
  gap: 0.8rem;
  background-color: $dark-secondary;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  width: 100%;
  margin: 2rem 0 0.4rem;
  position: relative;
  z-index: 1;
}

label {
  position: absolute;
  top: 50%;
  transform: translate(1rem, -1rem);
  left: 0;
  font-size: 1.6rem;
  font-weight: bold;
  transition: top left 0.8s ease-out;
  pointer-events: none;
  white-space: nowrap;
  z-index: 2;
  opacity: 0.4;
}

input,
select {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: $light-secondary;
  font-size: 1.6rem;
  font-family: $primary-font;
  font-weight: bold;
  overflow: hidden;
}

.input-svg {
  width: 25px;
  height: 25px;
}

::placeholder {
  font-weight: bold;
  display: none;
}

.form-button {
  margin: 5rem 0;
}

.input-error {
  width: 100%;
  max-width: 320px;
  text-align: right;
  color: $color-danger;
}

@media screen and (max-width: 400px) {
  .form-container {
    padding: 1rem;
    width: 100%;
  }

  .form-primary {
    @include flex-center(column);
    margin-bottom: 5rem;
    width: 100%;
  }
}

// Dashboard

.page {
  min-height: 100vh;
  position: relative;

  &-header {
    @include flex-space;
    padding: 0.8rem 2rem;
    border-bottom: 1px solid $light-secondary;

    &-icons button:nth-child(n) {
      margin-left: 1.8rem;
    }
  }

  &-content {
    padding: 1.4rem 2rem;
    width: 100%;

    &-description {
      font-size: 1.4rem;
      margin-bottom: 1.8rem;
      position: relative;
    }

    &-icon {
      margin-left: 1rem;
      position: absolute;
    }
  }
}

.page-footer {
  padding: 2.4rem 4rem;
  @include flex-space;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $light-secondary;
}

.note {
  font-size: 1.1rem;
  margin-top: 2rem;
}

.iframe-pdf {
  border: 1px solid $light-secondary;
  border-radius: 12px;
  overflow-x: scroll;
  width: 100%;
}

.toolbar {
  display: none !important;
}

@media screen and (max-width: 1080px) {
  #main-page {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .page {
    &-header {
      padding: 0.8rem 1rem;
    }

    &-content {
      padding: 1.4rem 1rem;
      width: 100%;
    }

    &-grid {
      display: block;
    }
  }

  .page-footer {
    padding: 2.4rem 1rem;
  }
}

// Tables

table {
  border-collapse: collapse;
  width: 100%;
}

.page-table {
  border: 1px solid #cbcbcb;
  max-width: 50%;
  overflow-x: scroll;

  &-heading {
    margin: 5rem 0 2rem;
  }

  td,
  th {
    font-size: 1.25rem;
  }
}

.td-left {
  text-align: left;
}

.td-center {
  text-align: center;
}

td {
  text-align: center;
}

th,
td {
  padding: 0.8rem 0;
  font-size: 1.1rem;
}

tbody tr:nth-child(2n - 1) {
  background-color: rgba(240, 240, 240);
}

@media screen and (max-width: 1024px) {
  .page-table {
    max-width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .page-table {
    max-width: 100%;
  }
}

// Navbar

#content {
  margin-left: 180px;
}

nav {
  border-right: 1px solid $light-secondary;
  width: 180px;
  position: fixed;
  height: 100vh;
  background-color: $dark-primary;
  top: 0;
  transition: transform 0.4s ease-out;
  z-index: 99;
}

.nav-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1.4rem 0.6rem;
  width: 100%;
  border-bottom: 1px solid $light-secondary;

  &-description {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.nav-mobile {
  display: none;
}

.nav-logo {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-user {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav-items {
  width: 100%;
  list-style: none;
}

.nav-item {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;

  a {
    display: block;
    padding: 2rem;
  }

  .active {
    background-color: $dark-secondary;
  }
}

@media screen and (max-width: 1080px) {
  #content {
    margin-left: 0;
  }

  nav {
    transform: translateX(-100%);
  }

  .nav-expanded {
    transform: translateX(0%);
  }

  .nav-mobile {
    display: block;
    position: relative;
    @include flex-space();
    padding: 0.8rem 2rem;
    background-color: $dark-primary;

    h4 {
      color: $light-primary;
    }

    button {
      background-color: transparent;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav-mobile {
    padding: 0.8rem 1rem;
  }
}

// List page

.list-page-item {
  @include flex-space();
  padding: 0.4rem 0;
  border-bottom: 1px solid $light-secondary;

  &-description {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }

  &-active {
    background-color: red;
  }
}

// Grids

.grid {
  display: grid;
}

.grid-1x2 {
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  gap: 0.4rem;
}

.grid-1x3 {
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  gap: 0.4rem;
}

.grid-1x4 {
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  gap: 0.4rem;
}

.grid-center {
  justify-items: center;
  align-content: center;
}

@media screen and (max-width: 680px) {
  .grid-1x4 {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 0.4rem;
  }
}

@media screen and (max-width: 380px) {
  .grid-1x4 {
    grid-template: repeat(4, 1fr) / repeat(1, 1fr);
    gap: 0.4rem;
  }
}

@media screen and (max-width: 900px) {
  .page-grid {
    grid-template: repeat(2, max-content) / repeat(1, 1fr);
    gap: 8rem;
  }

  .invoice-page-content {
    order: 2;
  }

  .iframe-pdf {
    order: 1;
  }
}

// Dialogs

dialog {
  border-radius: 8px;
  z-index: 9;
  margin: auto;
  border: none;
  background-color: $dark-primary;
  position: fixed;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

.dialog-close {
  position: absolute;
  right: 1.4rem;
  top: 1.4rem;
  z-index: 10;
}

.form-dialog {
  width: 420px;
  padding: 2.8rem 3.2rem;
  border-radius: 12px;

  @include flex-center(column);

  &-heading {
    color: $light-primary;
    margin: 2.4rem;
  }
}

.dialog-warning {
  @include flex-center(column);
  padding: 2.4rem 1rem;
  max-width: 320px;
  gap: 2rem;
  min-width: 280px;

  &-heading {
    margin: 0;
  }

  &-buttons {
    width: 100%;
    @include flex-space(row);
    padding: 0 2rem;
    margin-top: 2rem;
  }
}

.dialog-description {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  display: block;
}

@media screen and (max-width: 420px) {
  dialog {
    width: 100%;
  }

  .form-dialog {
    width: 100%;
    padding: 2.8rem 1rem;
    border-radius: 0;

    &-heading {
      color: $light-primary;
      margin: 2.4rem;
    }
  }
}

// Margins
.mb-small {
  margin-bottom: 0.4rem;
}

.mb-mid {
  margin-bottom: 2rem;
}

.mt-mid {
  margin-top: 2rem;
}

.mt-high {
  margin-top: 4rem;
}

// Settings

.settings {
  &-header {
    @include flex-center;
    border-bottom: 1px solid $light-secondary;
    gap: 4rem;
    justify-content: flex-start;
    padding-bottom: 1.4rem;
  }

  &-info-description {
    margin-top: 1.4rem;
  }

  &-info-container {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 1.4rem;
    border-radius: 8px;
    margin: 1.4rem 0;

    header {
      @include flex-space;
    }
  }
}

.firm-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
