* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.m0 {
  margin: 0;
}

@keyframes move-gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.home-page {
  padding: 0 4.4rem;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2.4rem 4.4rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.home-header-button:nth-child(n) {
  margin-left: 2.8rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 1.8rem;
}
.hero-description {
  font-size: 2rem;
}

.home-invoice-showcase {
  position: relative;
  padding: 0 14rem;
  height: 120vh;
}
.home-invoice-showcase .home-invoice-image {
  position: absolute;
  top: 30rem;
  left: 14.4rem;
  width: 360px;
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.1);
}

#home-invoice-2 {
  width: 280px;
  left: auto;
  right: 24.4rem;
  top: 10rem;
}

.home-dashboard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-dashboard-heading {
  z-index: -1;
  font-size: 3.6rem;
}
.home-dashboard img {
  width: 70%;
}
.home-dashboard-description {
  font-size: 1.8rem;
  width: 50%;
  text-align: center;
}

.home-features {
  margin: 12rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-features-grid {
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(3, 1fr);
  gap: 6rem;
  width: 100%;
  margin: 8rem auto;
  width: 70%;
}
.home-features .home-feature-card {
  padding: 3.2rem 2rem;
  border-radius: 8px;
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.1);
}
.home-features .home-feature-card img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.home-features .home-feature-card-heading {
  margin-top: 2rem;
}
.home-features .home-feature-card-description {
  margin-top: 2rem;
}

.home-more-features {
  margin: 8rem auto;
  padding: 14.4rem;
}
.home-more-features-list {
  padding-left: 1.8rem;
  margin-top: 6rem;
}
.home-more-features-list li {
  font-size: 1.6rem;
  margin-top: 2.4rem;
  letter-spacing: 1.2px;
}

.home-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.home-footer-link {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.dashboard {
  display: grid;
  grid-template: repeat(1, 1fr)/1fr 260px;
  gap: 4rem;
  padding: 1.4rem 2rem;
}
.dashboard-heading {
  margin: 1.4rem 0;
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.8rem 0;
}

.dashboard-box {
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 8px;
}
.dashboard-box-description {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  gap: 1.4rem;
  border-top: 1px solid #909090;
  width: 100%;
  text-align: center;
}

.dashboard-data {
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(3, 1fr);
  gap: 1.4rem;
}
.dashboard-data .dashboard-box {
  padding: 1.4rem;
}

.dashboard-data-heading,
.dashboard-data-description {
  margin-bottom: 1.4rem;
}

.dashboard-sales-chart,
.dashboard-overdues {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2.4rem;
  padding: 1rem;
}

.dashboard-sales-chart-image {
  width: 100%;
  height: 300px;
  object-fit: contain;
  padding: 4rem;
}

.dashboard-side {
  padding: 2.4rem;
  margin-bottom: 2rem;
}
.dashboard-side-heading {
  margin-bottom: 1.4rem;
}
.dashboard-side-analytics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
}

.light {
  color: black;
  color: black;
  background: white;
}
.light .text-lighter {
  color: #606060;
}
.light .input-container {
  background-color: #f2f2f2;
}
.light input {
  color: black;
}
.light button {
  color: black;
  background-color: white;
}
.light a {
  color: black;
}
.light .dashboard-box {
  background-color: rgba(0, 0, 0, 0.03);
}
.light .fill {
  fill: #303030;
}
.light .stroke {
  stroke: #303030;
}
.light .form-container {
  border: 2px solid #dadada;
}

body {
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #101010;
  color: #fff;
}

h1 {
  font-size: 7.6rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.4;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.text-gradient {
  background: linear-gradient(to right, #a148af, #982ebd, #3256d4, #2c7cc6, #952cc6);
  background-clip: text;
  background-position: 100% 0;
  background-size: 200% 100%;
  color: transparent;
  animation: move-gradient 4s ease-in-out infinite alternate;
}

.text-indian {
  background: linear-gradient(to right, #ef732e, #fff, #227a35);
  background-clip: text;
  background-position: 100% 0;
  background-size: 200% 100%;
  color: transparent;
  animation: move-gradient 4s ease-in-out infinite alternate;
}

.text-lighter {
  color: #909090;
}

.text-right {
  text-align: right;
}

a {
  text-decoration: none;
  color: #fff;
}

.link-primary {
  color: dodgerblue !important;
}

button,
.btn {
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  border-radius: 3px;
  border: none;
  background-color: #101010;
  color: #fff;
  font-family: "Lato";
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.btn-container {
  display: inline-block;
  padding: 0.3rem;
  border-radius: 5px;
  background: linear-gradient(to right, #a148af, #982ebd, #3256d4, #2c7cc6, #952cc6);
}

.btn-icon {
  padding: 0;
}

.form-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #303030;
  padding: 1rem 3.2rem;
  border-radius: 8px;
}

.form-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}
.form-primary .btn-submit {
  margin-top: 4rem;
}

.form {
  padding: 0 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.form-heading {
  margin: 5rem 0;
}

.form-description {
  font-size: 1rem;
  margin-bottom: 2.4rem;
  letter-spacing: 1px;
}
.form-description a {
  font-size: 1rem;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.8rem;
  background-color: #303030;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  max-width: 300px;
  width: 100%;
  margin: 1.6rem 0;
}

input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #dadada;
  font-size: 1.6rem;
  font-family: "Lato";
  font-weight: bold;
}

.input-svg {
  width: 25px;
  height: 25px;
}

::placeholder {
  font-weight: bold;
}

.form-button {
  margin: 5rem 0;
}

#main-page {
  margin-left: 180px;
}

.page {
  border-left: 1px dotted #dadada;
  min-height: 100vh;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.8rem 2rem;
  border-bottom: 1px solid #dadada;
}
.page-header-icons button:nth-child(n) {
  margin-left: 1.8rem;
}
.page-content {
  padding: 0.8rem 2rem;
  width: 100%;
}
.page-grid {
  display: grid;
  grid-template: repeat(1, 1fr)/1fr 260px;
  gap: 4rem;
}

table {
  width: 100%;
}

.page-table td,
.page-table th {
  font-size: 1.25rem;
}

.td-left {
  text-align: left;
}

.td-center {
  text-align: center;
}

th {
  color: #909090;
}

td {
  text-align: center;
}

th,
td {
  padding: 0.8rem 0;
  font-size: 1.1rem;
}

nav {
  width: 180px;
  position: fixed;
  height: 100vh;
}

.nav-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1.4rem 0.6rem;
  width: 100%;
}
.nav-header-description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-logo {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-user {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav-items {
  width: 100%;
  list-style: none;
}

.nav-item {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}
.nav-item a {
  display: block;
  padding: 2rem;
}
.nav-item:hover {
  background-color: #303030;
}
.nav-item:hover a {
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
